<!doctype html>
<html>
  <head>
    <title>Spotify Playlist Analyzer | Mitchell Augustin</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
	  #chartdiv {
		width: 50%;
		height: 500px;
		float: right;
	  }
	  #playlistdiv{
		width: 50%;
		float: left;
		columns: 2;
		text-align: center;
	  }
	  #typeSelectorText {
		font-size: .5em;
		float: right;
	  }
	  footer{
		width: 100%;
		text-align: center;
	  }
    </style>
	
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/pie.js"></script>
	<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
	<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
	</script>
  </head>

  <body>
    <div class="container">
      <div id="login">
        <h1>Spotify Playlist Analyzer</h1>
		<p>Log in to access your playlist information.</p>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedin">
        <h1>Spotify Playlist Analyzer</h1>
        <div id="user-profile">
        </div>
	  <h2 id="playlistheader" class="media">Playlists (Select one for more info)
	  <span id="typeSelectorText">
	  Select a data type:
	  <select id="typeSelector">
	  <option>Artists</option>
	  <option>Users</option>
	  </select>
	  </span>
	  </h2>
	  <div id="playlistdiv">
	  </div>
	  <div id="chartdiv"></div>
      </div>
    </div>
	<footer>Spotify and all related names, trademarks, and logos are owned by Spotify AB | This program was written by <a href="http://mitchellaugustin.com" target="_blank">Mitchell Augustin</a> and is licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License version 2.0</a></footer>
    <script id="user-profile-template" type="text/x-handlebars-template">
      <h2>Logged in as {{id}}</h2>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="150" src="{{images.0.url}}" />
        </div>
        <div class="media-body">
          <dl class="dl-horizontal">
            <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
            <dt>Id</dt><dd>{{id}}</dd>
            <dt>Email</dt><dd>{{email}}</dd>
            <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
            <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
            <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
            <dt>Country</dt><dd>{{country}}</dd>
          </dl>
        </div>
      </div>
    </script>
	
	
    <script id="playlist-template" type="text/x-handlebars-template">
    </script>

  
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	
	
    <script>
	var id = "";
      (function() {

        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
          var hashParams = {};
          var e, r = /([^&;=]+)=?([^&;]*)/g,
              q = window.location.hash.substring(1);
          while ( e = r.exec(q)) {
             hashParams[e[1]] = decodeURIComponent(e[2]);
          }
          return hashParams;
        }

        var userProfileSource = document.getElementById('user-profile-template').innerHTML,
            userProfileTemplate = Handlebars.compile(userProfileSource),
            userProfilePlaceholder = document.getElementById('user-profile');
			
		var playlistSource = document.getElementById('playlist-template').innerHTML,
			playlistTemplate = Handlebars.compile(playlistSource),
			playlistPlaceholder = document.getElementById('playlist');
			
        var params = getHashParams();

        var access_token = params.access_token,
            refresh_token = params.refresh_token,
            error = params.error;

        if (error) {
          alert('There was an error during the authentication');
        } else {
          if (access_token) {			
			//Request playlist information
            $.ajax({
                url: 'https://api.spotify.com/v1/me',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
				console.log(response);
                  userProfilePlaceholder.innerHTML = userProfileTemplate(response);
				  id = response.id;
				  console.log(response.id);
                  $('#login').hide();
                  $('#loggedin').show();
				  $('#playlistdiv').show();
				  $('#playlistheader').show();
                }
            });
			
			$.ajax({
                url: 'https://api.spotify.com/v1/me/playlists?limit=50',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
				  console.log(response);
				  var playlistStr = JSON.stringify(response);
				  var playlistsObject = JSON.parse(playlistStr.replace("Object ", ""));
				  var playlistsList = "";
				  playlistsArray = response.items;
				  var items = response.items;
				  for(i = 0; i < items.length; i++){
					var item = response.items[i];
					var element = document.getElementById("playlistdiv");
					var breakTag = document.createElement('br');
					var button = document.createElement('button');
					button.classList.add('btn');
					button.classList.add('btn-default');
					var t = document.createTextNode(item.name);
					button.onclick = (function(opt){
						return function(){
							if(document.getElementById("typeSelector").value == "Artists"){
								console.log("Artists");
								getArtistData(opt.id, opt.owner.id, access_token, 0);
							}
							else if(document.getElementById("typeSelector").value == "Users"){
								console.log("Users");
								getUserData(opt.id, opt.owner.id, access_token, 0);
							}
						};
					})(items[i]);
					button.appendChild(t);
					element.appendChild(button);
					element.appendChild(breakTag);
				  }
				  playlistPlaceholder.innerHTML = playlistTemplate({
					playlists: playlistsList
				  });
                }
			});
          } else {
              // render initial screen
              $('#login').show();
              $('#loggedin').hide();
			  $('#playlistdiv').hide();
			  $('#playlistheader').hide();
          }

          document.getElementById('obtain-new-token').addEventListener('click', function() {
            $.ajax({
              url: '/refresh_token',
              data: {
                'refresh_token': refresh_token
              }
            }).done(function(data) {
              access_token = data.access_token;
            });
          }, false);
        }
      })();
	  
	  var artists = [];
	  var artistsValue = [];
	  function getArtistData(itemid, itemowner, access_token, offset){
	    if(offset == 0){
			artists = [];
			artistsValue = [];
		}
		//Perform AJAX query to get the artist for each song
		//console.log("Starting playlist: " + item.name);
		$.ajax({
			url: 'https://api.spotify.com/v1/users/' + itemowner + '/playlists/' + itemid + '/tracks?offset=' + offset,
			headers: {
			  'Authorization': 'Bearer ' + access_token
			},
			type: "GET",
			success: function(response) {
			var songs = 0;
			  //var dataStr = JSON.stringify(response);
			  //console.log("tracks: " + dataStr);
			  for(i = 0; i < response.items.length; i++){
				songs = songs + 1;
				//For users, use response.items[i].added_by.id
				var artist = response.items[i].track.artists[0].name;
				//console.log(artist);
				var artistFound = false;
				//Loop through the existing array of artists. If the artist was not found, add it as a new artist. If it was found, increment the song number by one.
				for(n = 0; n < artists.length; n++){
					if(artists[n] == artist){
						artistsValue[n]++;
						artistFound = true;
					}
				}
				if(!artistFound){
					artists.push(artist);
					artistsValue.push(1);
				}
			  }
				console.log(offset + " " + response.total);
				if(offset + 100 < response.total){
					getArtistData(itemid, itemowner, access_token, offset + 100, response.total);
				}
				else{
					for(m = 0; m < artists.length; m++){
						console.log(artists[m] + " : " + artistsValue[m]);
					}
					loadChart(artists, artistsValue, response.total);
				}
			}
		});
	  };
	  
	  	  
	  var users = [];
	  var usersValue = [];
	  function getUserData(itemid, itemowner, access_token, offset){
	    if(offset == 0){
			users = [];
			usersValue = [];
		}
		//Perform AJAX query to get the artist for each song
		//console.log("Starting playlist: " + item.name);
		$.ajax({
			url: 'https://api.spotify.com/v1/users/' + itemowner + '/playlists/' + itemid + '/tracks?offset=' + offset,
			headers: {
			  'Authorization': 'Bearer ' + access_token
			},
			type: "GET",
			success: function(response) {
			var songs = 0;
			  //var dataStr = JSON.stringify(response);
			  //console.log("tracks: " + dataStr);
			  for(i = 0; i < response.items.length; i++){
				songs = songs + 1;
				//For users, use response.items[i].added_by.id
				var artist = response.items[i].added_by.id;
				//console.log(artist);
				var artistFound = false;
				//Loop through the existing array of artists. If the artist was not found, add it as a new artist. If it was found, increment the song number by one.
				for(n = 0; n < users.length; n++){
					if(users[n] == artist){
						usersValue[n]++;
						artistFound = true;
					}
				}
				if(!artistFound){
					users.push(artist);
					usersValue.push(1);
				}
			  }
				console.log(offset + " " + response.total);
				if(offset + 100 < response.total){
					getUserData(itemid, itemowner, access_token, offset + 100, response.total);
				}
				else{
					for(m = 0; m < users.length; m++){
						console.log(users[m] + " : " + usersValue[m]);
					}
					loadChart(users, usersValue, response.total);
				}
			}
		});
	  };
    </script>
	<script>
		function loadChart(artists, artistsValue, total){
		var chartData = [];
			for(i = 0; i < artists.length; i++){
				chartData[i] = {"Artist": artists[i], "% of playlist": artistsValue[i]/total};
			}
		var chart = AmCharts.makeChart( "chartdiv", {
		  "type": "pie",
		  "theme": "light",
		  "dataProvider": chartData,
		  "valueField": "% of playlist",
		  "titleField": "Artist",
		   "balloon":{
		   "fixedPosition":true
		  },
		  "export": {
			"enabled": true
		  }
		} );
		};
	</script>
  </body>
</html>

